* {
  /* cursor: none !important; */
}

body {
  background-color: black;
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Agrandir';
  font-size: 1em;
}

/* MAIN TEXT DIV */
.container {
  background-color: white;
  width: 50vw;
  height: 85vh;
  margin: 3vw 3vw 10vw 3vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navigation {
  background-color: black;
  width: 100vw;
  height: 6vh;
  color: white;
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1vh);
  text-align: center;
  float: left;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.nav_block {}

.nav_block a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.nav_block a:hover {
  color: red;
}

.nav_block a:active {
  color: red;
}

.nav_block a:visited {
  color: gray;
}


/* DOT DESKTOP STYLE */
.desktop_dot {
  position: absolute;
  top: 48vh;
  left: 48vw;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: red;
  z-index: 101;
  opacity: 0.9;
  pointer-events: none!important;
}

/* TYPE STYLES */
/* BODY */
p {
  font-size: 1em;
  margin: 1em;
  margin-right: 30%;
  margin-left: 3em;
}
/* TITLE */
h1 {
  font-family: 'Grafier';
  font-size: 2em;
  color: #f20000;
  margin-left: 3em;
  margin-bottom: 2em;
}
/* CITATION */
h2 {
  font-family: 'Grafier';
  font-size: 1.5em;
  color: #f20000;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
}
/* IMAGE CAPTION */
h3{
  font-family: 'Agrandir';
  font-size: 1em;
  margin: 1em;
  margin-right: 30%;
  margin-left: 3em;
  color: red;
}
img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

@font-face {
  font-family: 'Agrandir';
  src:
    url('Agrandir-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Agrandir-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('Agrandir-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('Agrandir-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('Agrandir-Regular.eot'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Grafier';
  src:
    url('Grafier-BoldDisplay.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('Grafier-BoldDisplay.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('Grafier-BoldDisplay.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('Agrandir-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Grafier-BoldDisplay.eot'); /* IE9 Compat Modes */
}

button{
  text-decoration: underline;
  color: red;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: left;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: none;
    margin: 0em;
    /* font-family: 'Agrandir'; */
    font-family: inherit;
    font-size: inherit!important;
    padding: none!important;
    border: none!important;
    background-color: transparent!important;
    outline: none!important;
}
button:hover:active:after:before{
  text-decoration: underline;
  color: red;
  border: none;
}

.no_footnote{display: none;}
.footnote{
  display: inline-block;
  width:100%;
  height: auto;
  background-color: red;
  color: white;
  font-family: 'Agrandir';
  font-size: 1em;
padding-left: 1em;
padding-right: 1em;
}


/* FOR MOBILE */
@media only screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    height: 90vh;
  }

  .navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2.5vh);
  }


  .desktop_dot {
    display: none;
  }

  p {
    margin: 0.5em;
  }

  h1, h2 {
    margin: 0.5em;
  }
}

/* IDs for navigation */
#title {}

#abstract {}

#intro {}

#chapter1 {}

#chapter2 {}

#conclusion {}

#bibliography {}

#colophon {}

#circle {}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a6a6a6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #878787;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}
#f1{}
